flake8>=3.9.2
tox>=3.24.3
pytest>=6.2.5
pytest-cov>=2.12.1
mypy>=0.910
openseespy >=3.2.2.10
plotly >=4.14.3
numpy >=1.20.2
matplotlib >=3.4.1
pandas >= 1.2.4
xlrd >= 2.0.1
openpyxl >= 3.0.7
shapely >= 1.7.1
descartes >= 1.1.0
